//colors

$grey: #CFD3CD;//
$lightgrey: #E7E3E2;//#F6F6F6
$dark: #8B8C8A;
$black: #626262;
$singletext: #000;
//cornice
$bodymargin: 50px;
//font
$Titlefont: 'Open Sans', sans-serif;
//
$margin-top: 10px;

